.nav-cards {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-cards__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: center;

  padding: 0;
  list-style-type: none;
}

.nav-cards__item:not(:last-child) {
  margin-right: 8px;
}
